body{
    background-color: white;
}
h1{
    color: blue;
}
h2{
    color: aquamarine;
}
h3{
    color: chartreuse;
}
h4{
    color: crimson;
}
h4{
    color: darkslategrey;
}
h5{
    color: fuchsia;
}
h6{
    color: gold;
}
h7{
    color: lime;
}